.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#selectimages {
  display: flex;
  justify-content: center;
  align-content: center;
}
#post-file {
  width: 0;
}
.rowImageDiv {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  /* border-radius: 50%; */
}
.rowImage {
  width: auto;
  height: 100%;
}
.tableHeading {
  background-color: #d6d6d6;
}
.table {
  /* background-color: #ebebeb; */
  /* padding: 10px; */
  /* border-collapse: separate; */
  vertical-align: middle !important;
}
/* .tableCell {
  border: solid 3px;
  border-color: #ebebeb;
  
}
.tableRow {
  border: solid 3px;
  border-color: #ebebeb;
  
} */
.rowText {
  font-size: 16px;
  font-weight: bold;
  /* font-family: "Cavello"; */
  /* color: #914244; */
  /* padding: 48px 48px 48px 48px; */
}
