.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#selectimages {
  display: flex;
  justify-content: center;
  align-content: center;
}
#post-file {
  width: 0;
}
.colImageDiv {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.rowImage {
  width: auto;
  height: 100%;
  background-color: rgb(240, 240, 240);

}
.addImage {
  width: auto;
  height: 100%;

}
.rowImageDiv {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.colImage {
  width: auto;
  height: 100%;
  background-color: rgb(240, 240, 240);
}
.tableHeading {
  background-color: #d6d6d6;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
.table {
  border-collapse: collapse;
  vertical-align: middle !important;
}
.tableCell {
  border: solid 3px;
  border-color: #ebebeb;
}
.tableRow {
  border: none !important;
  border-color: #ebebeb;
}
.rowText {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}
.summaryText {
  font-size: 16px;
  font-weight: bold;
}
.vertical {
  margin-top: 60px;
  border-left: 4px solid rgb(75, 75, 75);
  height: 500px;
}

@media only screen and (max-width: 992px) {
  .vertical {
    display: none;
  }
}
